body {
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
} 
.container {
 background-color: #FF7F00;
 padding: 70px;
 border-radius: 5px;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 text-align: center;
}
  
h1 {
 font-size: 3em;
 margin-bottom: 2em;
}
.uno{
  background-color: #FF7F00;
  margin-bottom: 25px;
  width: 100%;
  padding: 15px;
  border: 1px solid #494747;
  border-radius: 5px;
}
.dos{
  background-color: #FF7F00;
  margin-bottom: 25px;
  width: 100%;
  padding: 15px;
  border: 1px solid #494747;
  border-radius: 5px;
}
.tres{
  background-color: #FF7F00;
  margin-bottom: 25px;
  width: 100%;
  padding: 15px;
  border: 1px solid #494747;
  border-radius: 5px;
}
.cuatro{
  background-color: #FF7F00;
  margin-bottom: 25px;
  width: 100%;
  padding: 15px;
  border: 1px solid #494747;
  border-radius: 5px;
}
.cinco{
  background-color: #FF7F00;
  margin-bottom: 25px;
  width: 100%;
  padding: 15px;
  border: 1px solid #494747;
  border-radius: 5px;
}
.seis{
  background-color: #FF7F00;
  margin-bottom: 25px;
  width: 100%;
  padding: 15px;
  border: 1px solid #494747;
  border-radius: 5px;
}
button {
  background-color: #935a09a9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 25px;
  border-radius: 8px;
  cursor: pointer;
}

  

  